/* Google Font */

@import url('https://fonts.googleapis.com/css2?family=Genos:ital,wght@0,100..900;1,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orbitron:wght@400..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    /* Colores */

  --white-color: #ffffff;
  --dark-color: #252525;
  --primary-color: #5575a1; /* Azul fuerte (tu color base) */
  --secondary-color: #4a6ef5; /* Azul más claro que combina con el primary */
  --light-pink-color: #faf4f5;
  --medium-gray-color: #cccccc;

    /* Font Size */
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.15rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;

    /* Font Weight */
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

    /* Border radius */
    --border-radius-s: 8px;
    --border-radius-m: 30px;
    --border-radius-circle: 50%;


    /* Site max width */ 
    --site-max-width: 1300px;

}


    * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
}

html {
    scroll-behavior: smooth;
}

.boton-fijo {
      position: fixed;
      bottom: 20px; /* distancia desde abajo */
      right: 20px;  /* distancia desde la derecha */
      background-color: #111cf9;
      color: white;
      border: none;
      padding: 15px 20px;
      border-radius: 50px;
      font-size: 16px;
      cursor: pointer;
      box-shadow: 0 4px 6px rgba(0,0,0,0.2);
      z-index: 1000; /* que quede encima de todo */
      transition: 0.3s ease;
}

.boton-fijo:hover {
    color: #4a6ef5;
    background-color: white;
    
}

/* style for whole site */

ul{
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

img {
    width: 100%;
}



.section-title {
    text-align: center;
    padding: 60px 0 100px;
    text-transform: uppercase;
    font-size: var(--font-size-xl);
}

.section-title::after {
    content: "";
    width: 80px;
    height: 5px;
    display: block;
    margin: 10px auto 0;
    border-radius: var(--border-radius-s);
    background: var(--secondary-color);
}

/* navbar style */

header {
    position: fixed;
    width: 100%;
    z-index: 5;
    background: #648BC2;
}

header .navbar {
    display: flex;
    padding: 8px;
    align-items: center;
    justify-content: space-between;
}

.navbar .nav-logo {
    width: 275px;
}

.navbar .nav-menu {
    display: flex;
    gap: 10px;
    margin-right: 35vh;
}

.navbar .nav-menu .nav-link {
  font-weight: bold;
    padding: 10px 10px;
    transition: 0.3s ease;
    color: white;
    font-size: var(--font-size-m);
    border-radius: var(--border-radius-m);
}

.navbar .nav-menu .nav-link:hover {
    color: var(--white-color);
    background: #5d7ead;      
}

.navbar  :is(#menu-close-button, #menu-open-button) {
    display: none;
}

.logoimg {
  width: 80px;
  margin-left: 50vh;
}

.langbuttons .eslogo {
    width: 30px;
}

.eslogo .esimg {
    border-radius: 25%;
}

.langbuttons .uslogo {
    width: 30px;
}

.uslogo .usimg {
    border-radius: 25%;
}

body {
  background-color: var(--white-color);
  color: var(--dark-color);
  
  line-height: 1.6;
  font-weight: var(--font-weight-normal);
}



section {
  padding: 80px 0;
}

.container {
  width: 90%;
  max-width: var(--site-max-width);
  margin: 0 auto;
}

/* ====== HERO SECTION ====== */

.hero {
  margin: 0 auto;
  max-width: 150vh;
  display: flex;
  background: var(--light-pink-color);
  min-height: 100vh;
  text-align: right;
  align-items: center;
  padding: 140px 20px; 
}

.hero-title {
  line-height: 1.2;
  font-size: 6rem;
  margin-bottom: 5rem;
}

.hero-container {
  max-width: 60%;
  margin-right: 10rem;
}

.img-container {
  max-width: 40%;
}

.img-hero {
  width: 500px;
  margin-right: 2rem;
}



.hero-text {
  text-align: right;
  font-size: 2.18rem;
   line-height: 1.2;
}

.hero span.text {
  font-weight: bold;
}

.hero span {
  color: var(--primary-color);
}



.btn-hero {
  display: inline-block;
  background-color: var(--dark-color);
  color: var(--white-color);
  padding: 14px 34px;
  font-size: var(--font-size-n);
  border-radius: var(--border-radius-m);
  font-weight: var(--font-weight-semibold);
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
}

.btn-hero:hover {
  background-color: #648BC2;
  transform: scale(1.03);
}

/* ====== SOBRE NOSOTROS ====== */

.about {
  line-height: 1.2;
  justify-content: space-between;
  background-color: #BEE1E7;
  margin: 0 auto;
  max-width: 150vh;
  display: flex;
}

.about-title {
  font-size: 4rem;
  text-align: center;
  color: var(--primary-color);
}

.about-image {
  max-width: 50%;
}

.about-img {
  margin-left: 2rem;
}

.about-container {
  max-width: 40%;
  margin-right: 2rem;
}

.porque-section {
  text-align: center;
  padding: 3rem 1rem;
  font-family: 'Poppins', sans-serif;
  background-color: #BEE1E7;
}

.porque-section h2 {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 2rem;
  color: #1e293b;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.grid-item {
  background-color: #ffffff;
  border: 2px solid #e2e8f0;
  border-radius: 12px;
  padding: 2rem 1rem;
  font-size: 1.1rem;
  font-weight: 500;
  color: #0f172a;
  box-shadow: 0 4px 8px rgba(0,0,0,0.05);
  transition: transform 0.4s ease, background-color 0.4s ease;
}

/* Animación de entrada */
@keyframes pulse {
  0% { transform: scale(1); background-color: #ffffff; }
  50% { transform: scale(1.05); background-color: #e0f2fe; }
  100% { transform: scale(1); background-color: #ffffff; }
}

.grid-item.animate {
  animation: pulse 1.6s ease-in-out infinite;
}


/* ====== BENEFICIOS ====== */

.benefits {
  background-color: var(--light-pink-color);
  color: var(--dark-color);
  text-align: center;
  padding-top: 90px;
  padding-bottom: 90px;
  width: 150vh;
  margin: 0 auto;
}

.benefits h2 {
  margin-bottom: 40px;
  font-size: 4rem;
}

.benefits h2 span{
  color: var(--primary-color);
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  padding: 0 30px;
}



.benefit {
  color: white;
  background-color: var(--primary-color);
  border-radius: var(--border-radius-s);
  padding: 25px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.benefit:hover {
  color: var(--dark-color);
  background-color: #BEE1E7;
  transform: translateY(-5px);
  
}


/* ====== REQUISITOS ====== */

.requirements {
  background-color: var(--white-color);
}

.requirements h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 3rem;
}

.requirements ul {
  list-style: none;
  padding: 0;
  max-width: 700px;
  margin: 0 auto;
}

.requirements li {
  background-color: var(--light-pink-color);
  border-left: 5px solid var(--secondary-color);
  border-radius: var(--border-radius-s);
  margin-bottom: 15px;
  padding: 15px 20px;
  font-size: var(--font-size-m);
  transition: all 0.3s ease;
}

.requirements li:hover {
  transform: translateX(6px);
  background-color: var(--dark-color);
  color: var(--white-color);
}

/* ====== FORMULARIO ====== */

.apply {
  background-color: var(--light-pink-color);
  border-radius: var(--border-radius-s);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.05);
  padding: 80px 40px;
}

.apply h2 {
  text-align: center;
  margin-bottom: 15px;
  font-size: var(--font-size-xl);
}

.apply p {
  text-align: center;
  margin-bottom: 40px;
  color: #555;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 500px;
  margin: 0 auto;
}

.form label {
  font-weight: var(--font-weight-medium);
  margin-bottom: 5px;
}

.form input,
.form select {
  padding: 12px;
  border: 1px solid var(--medium-gray-color);
  border-radius: var(--border-radius-s);
  font-size: var(--font-size-n);
  transition: 0.3s;
}

.form input:focus,
.form select:focus {
  outline: none;
  border-color: var(--secondary-color);
  box-shadow: 0 0 6px rgba(74, 110, 245, 0.3);
}

.form button {
  border: none;
  cursor: pointer;
}

/* ====== FOOTER ====== */

.footer {
  background-color: var(--dark-color);
  color: var(--white-color);
  text-align: center;
  padding: 25px 10px;
  font-size: var(--font-size-s);
}

/* ====== RESPONSIVE ====== */
@media (max-width: 1800px){
  .logoimg{
    display: none;
  }
}

@media (max-width: 1024px) {
  .logoimg{
    display: none;
  }


 .hero {
   min-height: 1024px;
 }

 .hero-title{
   font-size: 4rem;
 }  

 .img-hero{
  width: 350px;
 }
}

@media (max-width: 900px) {

   :root {
    --font-size-m: 1rem;
    --font-size-l: 1.3rem;
    --font-size-xl: 1.5rem;
    --font-size-xxl: 1.8rem;
   }

   body.show-mobile-menu header::before {
    content: "";
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.2);
   }

   .navbar :is(#menu-close-button, #menu-open-button) {
       font-size: var(--font-size-l); 
       display: block;
    }  

    .navbar #menu-close-button {
        position: absolute;
        right: 30px;
        top: 30px;
    }

    .navbar #menu-open-button {
       color: var(--dark-color);
    }

    .navbar .nav-menu {
       display: block;
       position: fixed;
       left: -300px;
       top: 0;
       width: 300px;
       height: 100%;
       display: flex;
       flex-direction: column;
       align-items: center;
       padding-top: 100px;
       background: var(--white-color);
       transition: left 0.2s ease;
    }

    body.show-mobile-menu .navbar .nav-menu {
        left: 0;
    }
    
    .navbar .nav-menu .nav-link {
        color: var(--dark-color);
        display: block;
        margin-top: 17px;
        font-size: var(--font-size-l);
    }

  .hero {
    max-width: 900px;
    min-height: 50vh;
  }

  .hero-title{
    font-size: 3rem;
  }

  .hero-text{
    font-size: 1.5rem;
  }

  .img-hero{
    width: 300px;
  }

  .about{
    
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
  }

  .about-container{
    max-width: 900px;
  }

  .about-title{
    font-size: 2.5rem;
  }

  .about-image{
    max-width: 900px;
  }

  .about-img{
    max-width: 400px;
    height: auto !important;
    margin: 1rem auto;
    display: block;
  }

  .grid-container { 
    margin: 0 auto;            /* evita que se pegue a los bordes */
    text-align: center;
    margin-left: 1.5rem;
  }
}

@media (max-width: 640px) {
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    padding: 60px 20px; /* reduce padding para centrar mejor */
    background: var(--light-pink-color);
  }

  .hero-container {
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    margin: 0; /* elimina el margin-right heredado */
  }

  .hero-title {
    margin-top: 3rem;
    font-size: 3rem;
    line-height: 1.1;
  }

  .hero-text {
    margin-top: -3rem;
    font-size: 1.6rem;
    text-align: center; /* asegúrate que no herede el right */
  }

  .img-container {
    display: flex;
    justify-content: center;
  }

  .img-hero {
    width: 150% !important;  /* o el valor que desees */
    max-width: 550px !important; /* control absoluto */
    height: auto !important;
    margin: 1rem auto;
    display: block;
  }

  .about {
    flex-direction: column-reverse;       /* Coloca los elementos uno debajo del otro */
    align-items: center;          /* Centra los elementos horizontalmente */
    justify-content: center;      /* Centra verticalmente si hay altura disponible */
    text-align: center;           /* Centra el texto */
    max-width: 100%;              /* Asegura que ocupe todo el ancho */
    padding: 1rem;                /* Da un poco de espacio lateral */
  }

  .about-image {
    max-width: 600px;
  }

  .about-img {
    width: 100% !important;  /* o el valor que desees */
    max-width: 300px !important; /* control absoluto */
    height: auto !important;
    margin: 1rem auto;
    display: block;
  }

  .about-container {
    max-width: 90%;               /* Asegura que el texto no se salga */
    margin: 0;                    /* Quita el margen lateral */
  }

  .about-title {
    font-size: 2.5rem;            /* Ajusta tamaño del título en pantallas pequeñas */
  }

  .grid-container {
    grid-template-columns: 1fr;   /* Hace que las tarjetas sean de una columna */
    max-width: 100%;
    margin-right: 1rem;
  }

  .benefits {
    width: 400px;
  }
  
  .benefits h2 {
    font-size: 2rem;
  }

.benefits {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding: 60px 10px;
  text-align: center;
}

.benefit-grid {
  display: grid;
  grid-template-columns: 1fr; /* una sola columna */
  gap: 1.5rem;
  justify-items: center; /* centra las tarjetas */
}
.benefit {
  width: 100%;
  max-width: 320px;
  margin: 0 auto;
}
}
